* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}
/* Navigation menu */
header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: none;
    list-style: none;
}

header nav ul li a {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    color: turquoise;
    padding: 0 10px;
}

/* Logo image and text */
.logo-image img{
    display: flex;
    width: 60px;
    height: auto;
    margin-top: 65%; 
    mix-blend-mode: screen;
    position: absolute;
    margin-left: 83%;
}

.logo-text a {
    font-family: Poppins, sans-serif;
    text-align: center;
    color: turquoise;
    justify-content: center;
    display: block;
    margin-top: 10%;
}

/* Cover image and text */

.hero-video video {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    max-width: fit-content;
}