* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    max-width: 100%;
}

/* Layout*/
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container a {
    color: slategray;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-family: Poppins, sans-serif;
    margin-top: 25%;
}

.container h3:hover {
    border-bottom: 2px solid turquoise;
}

.container a img {
    width: 80%;
    height: auto;
    display: block;
    position: static;
    margin-bottom: 15px;
    align-content: center;
    object-fit: contain;
}

.container video {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    align-content: center;
    justify-content: center;
}

.container p {
    font-family: Poppins, sans-serif;
    color: slategray;
    text-align: center;
}


/* Logo image and text */
.logo-image {
    background: white;
    margin-left: 0;
}

.logo-image a img {
    width: 50px;
    height: auto;
    display: block;
    margin-top: 73%;
    mix-blend-mode: screen;
    margin-bottom: 100%;
    position: absolute;
    margin-left: 85%;
    color: turquoise;
}

.logo-text a {
    top: 0;
    left: 0;
    padding-bottom: 5px;
    padding-top: 22px;
}

.logo-text a {
    width: fit-content;
    height: auto;
    display: inline-block;
    color: turquoise;
    font-family: Poppins, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 23px;
    justify-content: center;
    align-content: center;
    margin-left: 20%;
}

/*Navigation Menu*/
.menu li {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 13px;
    padding-top: 10px;
    line-height: 1px;
    padding: 5px;
    margin: 2px;
    margin-left: 8%;
    padding-bottom: 10px;
}

.menu a {
    color: slategray;
    text-align: center;
    font-family: Poppins, sans-serif;
}

.active {
    border-bottom: 1px solid rgb(15, 236, 225);
}

.menu a:hover {
    border-bottom: 1px solid rgb(15, 236, 225);
}

/* create the level of zoom for main  video */

@keyframes main-zoom {
    from {
        transform: scale(2.1);
    }

    to {
        transform: scale(1);
    }
}
/* Animates zoom effect on loading page */
 .logo-text{
    animation-name: main-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

/* Hero video */
.hero-video video{
    width: 100%;
    height: auto;
    align-items: center;
    display: block;
    object-fit: cover;

}

#button a {
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 5px turquoise, 0 1px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    border-radius: 25px;
    margin-left: 40%;
    position: absolute;
    mix-blend-mode: none;
    margin-top: -20%;
    object-fit: contain;
    display: block;
}

#button a {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    display: block;
    color: turquoise;
}

#button {
    width: 100%;
    height: 100%;
}

#button h1:hover {
    background-position: center;
}

#button a:hover {
    border-bottom: 1px solid aquamarine;
}

.cover-text h2 {
    color: slategray;
    text-align: center;
    font-size: 22px;
    font-family: Poppins, sans-serif;
    object-fit: contain;
    margin-top: -35%;
    font-weight: bold;
    mix-blend-mode: screen;
    display: block;
}

/* Workout tabs */
.workout-tabs h2 {
    color: turquoise;
    text-align: center;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    margin-top: 28%;
    font-weight: bolder;
    padding-bottom: 15px;
    margin-bottom: 1%;
}

.row h3 {
    font-weight: lighter;
    font-size: 17px;
    border-bottom: 1px solid turquoise;
    padding-bottom: 5px;
    max-width: fit-content;
    width: 100%;
    display: block;
    margin-left: 12%;
}

.container {
    display: block;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax);
    margin-top: 0px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.workout-tabs img {
    width: 80px;
    height: auto;
    display: block;
    margin-top: 1%;
    margin-bottom: 25px;
    border-radius: 25px;
    color: turquoise;
    align-items: center;
    margin-left: 35px;
    padding-top: 10px;
}

/* About section of page */
.container video {
    width: 95%;
    height: auto;
    display: block;
    position: relative;
    object-fit: contain;
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 25px;
}

.container p {
    align-items: center;
    display: block;
    padding-bottom: 20px;
}

.about h2 {
    font-size: 18px;
    font-weight: lighter;
    color: turquoise;
    margin-top: 10px;
    text-align: center;
    font-family: Poppins, sans-serif;
    padding-top: 25px;
    padding-bottom: 1px;
}

/* Sign up form */

.sign-up-form h2 {
    font-family: Poppins, sans-serif;
    color: turquoise;
    font-size: 20px;
    display: block;
    font-weight: bolder;
}

.sign-up-form {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
}